name: "CI #8 - Escaneo de Vulnerabilidades (SecOps)"

# Se activa en cada push a cualquier rama
on:
  push:

jobs:
  seguridad:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar codigo fuente
        uses: actions/checkout@v4

      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Compilar proyecto
        run: mvn -B clean compile

      - name: Ejecutar OWASP Dependency-Check
        run: mvn -B clean compile org.owasp:dependency-check-maven:check -DnvdApiKey=${{ secrets.NVD_API_KEY }} -DossindexAnalyzerEnabled=false

      - name: Subir informe de vulnerabilidades
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: target/dependency-check-report.html
